In [2]:
import pandas as pd
edata = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [3]:
edata.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
#Q12
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(edata[['T2']],edata[['T6']],
test_size=0.3, random_state=1)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [8]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [9]:
predicted_values = linear_model.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.65

In [16]:
#Q13
from sklearn.preprocessing import MinMaxScaler
edata1 = edata.drop(columns=['date', 'lights'])
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(edata1), columns=edata1.columns)
features = normalised_df.drop(columns=['Appliances'])
atarget = normalised_df['Appliances']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features,atarget,test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [18]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [19]:
predicted_values = linear_model.predict(x_test)

In [21]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [23]:
#Q14
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [26]:
#Q15
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [28]:
#Q16
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [29]:
#Q17
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()[::-1]
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [30]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_1             0.553547
1            T3             0.290627
2            T6             0.236425
3     Tdewpoint             0.117758
4            T8             0.101995
5          RH_3             0.096048
6          RH_6             0.038049
7     Windspeed             0.029183
8            T4             0.028981
9          RH_4             0.026386
10         RH_5             0.016006
11   Visibility             0.012307
12           T7             0.010319
13  Press_mm_hg             0.006839
14          rv2             0.000770
15          rv1             0.000770
16           T1            -0.003281
17           T5            -0.015657
18         RH_9            -0.039800
19         RH_7            -0.044614
20       RH_out            -0.077671
21         RH_8            -0.157595
22           T9            -0.189941
23           T2            -0.236178
24        T_out            -0.321860
25         RH_2            -0.456698

In [31]:
#Q18
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [32]:
preg = ridge_reg.predict(x_test)
rmse11 = np.sqrt(mean_squared_error(y_test, preg))
round(rmse11, 3)

0.088

In [33]:
#Q19
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [34]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0          RH_1      0.017880
1     Windspeed      0.002912
2           rv2     -0.000000
3          RH_6     -0.000000
4            T2      0.000000
5          RH_2     -0.000000
6            T3      0.000000
7          RH_3      0.000000
8            T4     -0.000000
9          RH_4      0.000000
10           T5     -0.000000
11         RH_5      0.000000
12           T6      0.000000
13           T7     -0.000000
14          rv1     -0.000000
15         RH_7     -0.000000
16           T8      0.000000
17           T9     -0.000000
18         RH_9     -0.000000
19        T_out      0.000000
20  Press_mm_hg     -0.000000
21   Visibility      0.000000
22    Tdewpoint      0.000000
23           T1      0.000000
24         RH_8     -0.000110
25       RH_out     -0.049557

In [35]:
#Q20
preg1 = lasso_reg.predict(x_test)
rmse12 = np.sqrt(mean_squared_error(y_test, preg1))
round(rmse12, 3)

0.094